
<main>
    <h2> {{pageTitle}} </h2>
       {{#if gotProducts}}
           We got products
            <table border="1">
                <tr> <th> Title</th><th>Author</th></tr>
                {{#each products}}
                    <tr><td>{{this.title}}</td><td>{{this.author}}</td></tr>
                {{/each}}
            </table>
       {{else}}
           No products to display
       {{/if}}
</main>
{{>footer}}
</body>
</html>