header {
    background-color: cornflowerblue;
    height: 20%;
}
img {
    width: 8%;
    height: 8%;
    padding-top: 2px;
    padding-left:2px;
}
h3 {
    background-color: yellow;
    display: inline;
    position: relative;
    left: 40%;
    font-size: 40px;
    top: -25px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td,th {
    border: solid 1px #000;
}